a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.mobile-none{
    display: none !important;
}

.logo{
    margin: 38px 0 21px;
}
/*1*/
#new-section-one {
    background: url(/static/index/img/homepage-title.png) no-repeat center center;
    height: 667px;
    width: 100%;
    padding: 31px 12%;
    text-align: center;
}

#new-section-one .title-logo{
    margin: 31px auto 131px;
}

#new-section-one .title-content {
    text-align: center;
}
#new-section-one .title-content .text1{
    font-family: SourceHanSansCN, Sans-Serif;
    font-size: 79px;
    font-weight: 200;
    line-height: 1;
    color: #ffffff;
}
#new-section-one .title-content .text2{
    font-family: SourceHanSansCN, Sans-Serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 1;
    color: #ffffff;
    margin: 15px 0 20px;
}
#new-section-one .title-content .text3{
    font-family: SourceHanSansCN, Sans-Serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.43;
    color: #ffffff;
    margin: 20px 0 15px;
}

#new-section-one .title-content .btn{
    margin: 15px 10px 8px;
    width: 170px;
    height: 50px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: SourceHanSansCN, Sans-Serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}
#new-section-one .title-content .button-login{
    border: solid 1px #ffffff;
    background: transparent;
}

#new-section-one .title-content .button-register{
    border: solid 1px #0087ce;
    background: #0087ce;
}

/*2*/
#new-section-two{
    min-height: 456px;
    text-align: center;
    background: #f6f6f6;
    overflow: auto;
}

#new-section-two .cloud{
    margin: 38px 0 21px;
}

#new-section-two .cn{
    margin:10px 0 70px;
}


#new-section-two .content{
    margin: 0 15px 50px;
    font-family: SourceHanSansCN, Sans-Serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
    color: #5a5a5a;
}
/*3*/
#new-section-three{
    background: url(/static/index/img/homepage-3-bg.png) no-repeat center center;
    min-height: 767px;
    width:100%;
    text-align:center;
    position: relative;
}
#new-section-three #content-box-1{
    display: block;
}

#new-section-three #content-box-2{
    display: none;
}

#new-section-three #content-box-3{
    display: none;
}

#new-section-three .cn{
    margin:10px 0 70px;
}

#new-section-three a{
    display: block;
    max-width: 411px;
    position: relative;
    margin: auto
}

#new-section-three .left{
    position: absolute;
    left: 3%;
    top: 60%;
}

#new-section-three .right{
    position: absolute;
    right: 3%;
    top: 60%;
}

#new-section-three .corner{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#new-section-three .corner span{
    margin: 20px 6px 6px 20px;
    font-size: 14px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#new-section-three .panel-tl{
    font-family: SourceHanSansCN ;
    font-size: 32px;
    font-weight: 200;
    text-align: center;
    color: #ffffff;
    height: 124px;
    padding: 42px 0 32px;
}
#new-section-three .panel-bg1{
    background: url(/static/index/img/panel-bg1.png) no-repeat center center;
}
#new-section-three .panel-bg1:hover{
    background: url(/static/index/img/panel-bg1-hover.png) no-repeat center center;
}
#new-section-three .panel-bg2{
    background: url(/static/index/img/panel-bg2.png) no-repeat center center;
}
#new-section-three .panel-bg2:hover{
    background: url(/static/index/img/panel-bg2-hover.png) no-repeat center center;
}
#new-section-three .panel-bg3{
    background: url(/static/index/img/panel-bg3.png) no-repeat center center;
}
#new-section-three .panel-bg3:hover{
    background: url(/static/index/img/panel-bg3-hover.png) no-repeat center center;
}

#new-section-three .panel-bd{
    padding: 12px;
    background: #FFFFFF;
    text-align: left;
}

#new-section-three .panel-bd .title{
    font-family: SourceHanSansCN-Normal, Sans-Serif;
    font-size: 24px;
    font-weight: normal;
    color: #42464d;
}

#new-section-three .panel-bd .content{
    margin: 4px 0;
    font-size: 12px;
    font-weight: 200;
    line-height: 2.08;
    color: #999999;
}

#new-section-three .panel-width{
    width: 80%;
    margin-left:10%;
}

#new-section-three .question{
    margin-bottom: 40px;
}
#new-section-three .border-bottom{
    border-bottom: dashed 1px #D0D0D0;
}

/*4*/
#new-section-four {
    background: url(/static/index/img/homepage-4-bg-mobile.png) no-repeat center center;
    height: 646px;
    width:100%;
    text-align: center;
    position: relative;
}

#new-section-four .cn{
    margin:10px 0 70px;
}

#new-section-four .left{
    position: absolute;
    left: 3%;
    top: 60%;
}

#new-section-four .right{
    position: absolute;
    right: 3%;
    top: 60%;
}

#new-section-four .module-box{
    text-align: center;
    height: 180px;
}

#new-section-four .module{
    padding: 0 12%;
}

#new-section-four .module-box .title{
    width: 93px;
    height: 46px;
    background-color: #0082c6;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    padding: 6px 14px;
}
#new-section-four .module-box span{
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.86;
    color: #42464d;
}
#new-section-four .float-right span{
    text-align: right;
}

#new-section-four .float-right .content,#new-section-four .float-right .title{
    float: right;
}
#new-section-four .module-box .content{
    width: 170px;
}

#new-section-four #function-1{
    display: block;
}

#new-section-four #function-2{
    display: none;
}

#new-section-four #function-3{
    display: none;
}

/*5*/

#new-section-five {
    background: #0082c6;
    text-align: center;
    position: relative;
}

#new-section-five .english{
    color: #FFFFFF;
}

#new-section-five .question{
    color: #FFFFFF;
}

#new-section-five .cn{
    margin:10px 0 70px;
}

#new-section-five .left{
    position: absolute;
    left: 3%;
    top: 60%;
}

#new-section-five .right{
    position: absolute;
    right: 3%;
    top: 60%;
}

#new-section-five #user-1{
    display: block;
}

#new-section-five #user-2{
    display: none;
}

#new-section-five #user-3{
    display: none;
}

#new-section-five a{
    z-index: 3000;
}

#new-section-five .user{
    margin: 2% 0;
}
#new-section-five .title{
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    margin: 30px 0 20px;
}

#new-section-five .content{
    font-family: SourceHanSansCN-Normal, Sans-Serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 2.08;
    color: #FFFFFF;
    margin: 4px 15% 30px;
    width: 70%;
    min-height: 120px;
}

#new-section-five .user{
    padding: 0;
}

#new-section-five .btn-video{
    width: 172px;
    height: 50px;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #0082c6;
    border-radius: 0;
    margin: 44px 0;
}

#new-section-five .manager-name{
    margin:5px 0 25px;
    font-family: SourceHanSansCN;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
}
#new-section-five .manager-name .name{
    font-size: 30px;
}
/*9*/
#new-section-nine{
    background:#424242;
    color:#ffffff;
    padding: 20px 0;
    overflow: auto;
    line-height: 1.43;
}
#new-section-nine>.address-info,#new-section-nine>.invest-form{
    width: 100%;
    padding: 0 10px;
}
#new-section-nine label{
    display: none;
}
#new-section-nine input{
    width: 100%;
    height: 40px;
    background-color: #2f2f2f;
    margin-top:20px;
    padding-left:10px;
    border:none;
}

#new-section-nine textarea{
    width: 100%;
    height: 127px;
    background-color: #2f2f2f;
    margin-top:20px;
    padding:10px;
    border:none;
}

#new-section-nine button{
    margin-top:10px;
    float:right;
    width: 120px;
    height: 35px;
    background-color: lightgray;
    border:none;
}
#new-section-nine .map{
    position: relative;
    margin-bottom: 10px;
}
#new-section-nine .map > img.base-map{
    position: relative;
    z-index: 1;
    width: 100%;
}

hr.footer{
    margin:0;
    opacity: 0.54;
    color: #ffffff;
}
#contact{
    background:#424242;
    color:#ffffff;
    font-size: 12px;
    padding: 20px 0;
}

#new-section-eight{
    height: 582px;
    background: url(/static/index/img/homepage-7-bg.png) no-repeat center center;
    text-align: center;
}

#new-section-eight .logo{
    margin: 0;
}
#new-section-eight > .content{
    width: 100%;
    margin-top:53px;

}
#new-section-eight> .content .follow{
    opacity: 0.8;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.42;
    color: #42464d;
}

#new-section-eight>.content hr{
    width: 153px;
    margin-top:10px;
    margin-bottom:10px;
    border: solid 1px #979797;
}

#new-section-eight >.content .follow-message{
    opacity: 0.8;
    font-size: 13px;
    font-weight: normal;
    color: #42464d;
    margin-top:10px;
    margin-bottom: 10px;
}

#new-section-eight >.content button{
    width: 172px;
    height: 50px;
    color: #ffffff;
    background-color: #0087ce;
    font-size: 20px;
    font-weight: 300;
}
/**/
div.section-title{
    width: 100%;
    text-align: center;
}
.en{
    opacity: 0.4;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.3px;
}
.cn{
    opacity: 0.8;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.33;
    color: #000000;
}
div.section-title>.img-container{
    width: 85px;
    height: 85px;
    display: inline-block;
}
div.section-title>.img-container>img{
    margin-top: 25px;
}
#new-section-six{
    height: 632px;
    width: 100%;
    background: url(/static/index/img/homepage-6-bg-mobile.png) no-repeat center center;
    text-align: center;
    background-color: #f3f3f3;
}

#new-section-six>div.section-title{
    width: 70%;
    margin-left:auto;
    margin-right:auto;
}
#new-section-six>p{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 86.6%;
    opacity: 0.8;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
    text-align: justify;
}
#new-section-seven{
    width: 100%;
    min-height: 730px;
    text-align: center;
    overflow: auto;
}
#new-section-seven > div.content{
    width: 100%;
    margin-top:30px;
    position: relative;
}

#new-section-seven > div.content > img{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}


#new-section-seven > div.industry{
    width: 78%;
    display: inline-block;
    margin-top: 30px;
    text-align: left;
}
#new-section-seven > div.industry > div.industry-item{
    margin: auto;
    width: 50%;
    float:left;
}
#new-section-seven > div.industry > div.industry-item > span.industry-item-name{
    opacity: 0.8;
    font-size: 20px;
    font-weight: 500;
    color: #0082c6;
}
#new-section-seven > div.industry > div.industry-item > .industry-item-img{
    margin: 0 10px;
}

#new-section-two .homepage-2{
    width:100%;
}