a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.cursor-click{
    cursor: pointer;
}

.logo{
    margin: 54px 0 30px;
}

.english{
    opacity: 0.4;
    font-size: 14px;
    font-weight: 900;
}
.question{
    opacity: 0.8;
    font-family: SourceHanSansCN, Sans-Serif;
    font-size: 60px;
    font-weight: 300;
    margin: 16px 0 57px;
}

.web-none{
    display: none !important;
}

/*section-one*/
#new-section-one {
	background: url(/static/index/img/homepage-1-bg.jpg) no-repeat center center;
    height: 782px;
    width: 100%;

background-size: cover;
}
#new-section-one .title-logo{
    position: absolute;
    width:10%;
    height: auto;
    left: 10%;
    top: 31px;
}

#new-section-one .title-menu{
    text-align: right;
    margin: 30px;
}

#new-section-one .title-menu .btn{
    
    /*width: 170px;
    height: 50px;
*/
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    border: solid 0.5px #ffffff;
    background: transparent;
}
#new-section-one .title-content {
    text-align: center;
    width: 400px;
    margin: 184px auto;
}
#new-section-one .title-content .text1{
    font-size: 122px;
    font-weight: 200;
    line-height: 1;
    color: #ffffff;
}
#new-section-one .title-content .text2{
    font-size: 45px;
    font-weight: 300;
    line-height: 1;
    color: #ffffff;
    margin: 25px 0 20px;
}
#new-section-one .title-content .text3{
    font-size: 22px;
    font-weight: 300;
    line-height: 1.55;
    color: #ffffff;
    margin: 20px 0 15px;
}
#new-section-one .title-content .btn{
    margin: 0 10px;
    width: 170px;
    height: 50px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}
#new-section-one .title-content .button-login{
    border: solid 1px #ffffff;
    background: transparent;
}

#new-section-one .title-content .button-register{
    border: solid 1px #0087ce;
    background: #0087ce;
}
/*section-two*/
#new-section-two{
    min-height: 657px;
    text-align: center;
    background: #f6f6f6
					height:
}

#new-section-two .cloud{
    margin: 61px 0 30px;
}

#new-section-two .content{
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #5a5a5a;
}
@media (max-width: 1440px) {
    #new-section-two > .homepage-2{
        width: 50%;
    }
}



/*section-three*/
#new-section-three{
    background: url(/static/index/img/homepage-3-bg.png) no-repeat center center;
    min-height: 1000px;
    width:100%;
    text-align:center;
    overflow: auto;
}

#new-section-three a{
    display: block;
    max-width: 411px;
    position: relative;
    margin: 0 auto;
}

#new-section-three .corner{
    position: absolute;
    bottom: 58px;
    right: 58px;
}

#new-section-three .corner span{
    margin: 20px 9px 9px 20px;
    font-size: 26px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
}
#new-section-three .corner img{
    position: absolute;
}

#new-section-three .title-height{
    padding: 24px 0 24px;
}

/*#three-content-5,*/
#three-content-4 , #three-content-2 , #three-content-6{
    margin: 0 0 20px !important;
}

#new-section-three .panel-tl{
    font-size: 48px;
    font-weight: 200;
    text-align: center;
    /*color: #ffffff;*/
	
    height: 192px;
    padding: 60px 0 76px;
}
#new-section-three .panel-bg1{
    background: url(/static/index/img/panel-bg1.png) no-repeat center center;
}
#new-section-three .panel-bg1:hover{
    background: url(/static/index/img/panel-bg1-hover.png) no-repeat center center;
}
#new-section-three .panel-bg2{
    background: url(/static/index/img/panel-bg2.png) no-repeat center center;
}
#new-section-three .panel-bg2:hover{
    background: url(/static/index/img/panel-bg2-hover.png) no-repeat center center;
}
#new-section-three .panel-bg3{
    background: url(/static/index/img/panel-bg3.png) no-repeat center center;
}
#new-section-three .panel-bg3:hover{
    background: url(/static/index/img/panel-bg3-hover.png) no-repeat center center;
}

#new-section-three .panel-bd{
    padding: 12px;
    background: #FFFFFF;
    text-align: left;
}

#new-section-three .panel-bd .title{
    font-size: 24px;
    font-weight: normal;
    color: #42464d;
    min-height: 28px;
}

#new-section-three .panel-bd .content{
    margin: 4px 0;
    font-size: 12px;
    font-weight: 200;
    line-height: 2.08;
    color: #999999;
    min-height: 96px;
}

#new-section-three .panel-width{
    width: 90%;
    margin: auto;
}

#new-section-three .question{
    margin-bottom: 40px;
}
#new-section-three .border-bottom{
    border-bottom: dashed 1px #D0D0D0;
}
@media screen and (max-width: 1240px) {
    #new-section-three .panel-tl {
        font-size:36px;
        padding: 64px 0 76px;
    }
}
@media screen and (max-width: 992px) {
    #new-section-three .panel-tl {
        font-size:24px;
        padding: 76px 0 76px;
    }
}

/*section-four*/
#new-section-four{
    background: url(/static/index/img/homepage-4-bg.png) no-repeat center center;
    height: 844px;
    width:100%;
    text-align: center;
}

#new-section-four .module{
    padding: 2% 5%;
}

#new-section-four .module-box{
    width: 95px;
    display: inline-block;
    float:left;
    margin: 0 1.5%;
}

#new-section-four .module-box .title{
    width: 93px;
    height: 46px;
    background-color: #0082c6;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    padding: 6px 14px;
}
#new-section-four .module-box span{
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.86;
    color: #42464d;
}

#new-section-four .module-box .content{
    width: 130px;
}

/*new-section five*/
#new-section-five {
    background: #0082c6;
    text-align: center;
    position: relative;
}

#new-section-five .english{
    color: #FFFFFF;
}

#new-section-five .question{
    color: #FFFFFF;
}

#new-section-five .double-quote-l{
    position: absolute;
    top: 25%;
    left: 5%;
    font-size: 125px;
    font-weight: 900;
    color: #ffffff;
}

#new-section-five .double-quote-r{
    position: absolute;
    bottom: 12%;
    right: 5%;
    font-size: 125px;
    font-weight: 900;
    color: #ffffff;
}

#new-section-five .users-margin{
    margin: 2% 5%;
}

#new-section-five .user{
    margin: 2% 0;
}
#new-section-five .title{
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    margin: 30px 0 20px;
    height: 68px;
}

#new-section-five .content{
    font-size: 12px;
    font-weight: normal;
    line-height: 2.08;
    color: #FFFFFF;
    margin: 4px 7.5% 10px;
    width: 85%;
    height: 170px;
}

@media screen and (max-width: 992px) {
    #new-section-five .content{
        height: 250px;
    }
}
#new-section-five .manager-name{
    margin:5px 0 25px;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
}
#new-section-five .manager-name .name{
    font-size: 30px;
}

#new-section-five .btn-video{
    width: 172px;
    height: 50px;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #0082c6;
    border-radius: 0;

}

#new-section-five .modify{
    position: relative;
    top: 26px;
}

#new-section-five .button{
    margin: 20px 0 90px;
}
/*new-section-six*/
#new-section-six {
    height: 550px;
    background: #f3f3f3;
    text-align: center;
    position: relative;
}

#new-section-six .img-container{
    margin: 60px 0 30px;
}

#new-section-six .content{
    margin: 0 auto 90px;
    font-family: STHeitiSC, Sans-Serif;
    min-width: 679px;
    width: 60%;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.9;
    opacity: 0.8;
}

#new-section-six .img{
    position: absolute;
}
#new-section-six .img-2{
    left: 12%;
    top: 10%;
}

#new-section-six .img-3{
    left: 20%;
    top: 40%;
}

#new-section-six .img-4{
    left: 5%;
    top: 50%;
}

#new-section-six .img-5{
    left: 12%;
    top: 80%;
}

#new-section-six .img-6{
    left: 85%;
    top: 10%;
}

#new-section-six .img-7{
    left: 75%;
    top: 40%;
}

#new-section-six .img-8{
    left: 83%;
    top: 70%;
}

/*new-section-seven*/
#new-section-seven{
    height: 1000px;
    text-align: center;
    position: relative;
}
#new-section-seven .img-container{
    margin: 60px 0 30px;
}

#new-section-seven .industry-item{
    float: left;
    width: 240px;
    text-align: left;
    border-top: solid 1px #0082c6;
    position: absolute;
}

#new-section-seven .industry-item .industry-item-name{
    display: inline-block;
    margin: 8px;
    font-size: 20px;
    font-weight: 500;
    color: #0082c6;
}
#new-section-seven .industry-item p{
    text-align: left;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.54;
    color: #42464d;
}

#new-section-seven .item-1{
    top: 21%;
    left: 16%;
    left: calc(50% - 420px);
}

#new-section-seven .item-2{
    top: 20.5%;
    left: 70%;
    left: calc(50% + 250px);
}
#new-section-seven .item-3{
    left: 12%;
    left: calc(50% - 460px);
    bottom: 34%;
}
#new-section-seven .item-4{
    left: 43%;
    left: calc(50% - 100px);
    bottom: 8%;
}
#new-section-seven .item-5{
    left: 76%;
    left: calc(50% + 300px);
    bottom: 30%;
}

@media screen and (max-width: 992px) {
    #new-section-seven .content{
        width: 50%;
        margin: 0 auto;
    }

    #new-section-seven .item-1{
        top: 21%;
        left: 8%;
    }

    #new-section-seven .item-2{
        top: 20.5%;
        left: 70%;
    }
    #new-section-seven .item-3{
        left: 6%;
        bottom: 34%;
    }
    #new-section-seven .item-4{
        left: 43%;
        left: calc(50% - 100px);
        bottom: 9.8%;
    }
    #new-section-seven .item-5{
        left: 76%;
        bottom: 30%;
    }
}

/*8*/
#new-section-eight {
    text-align: center;
    background: url(/static/index/img/homepage-7-bg.png) no-repeat center center;
    height: 582px;
}

#new-section-eight .logo{
    margin-bottom: 0;
}

#new-section-eight .content {
    width: 385px;
    margin: auto;
}

#new-section-eight .content img{
    float: left;
}

#new-section-eight .inline-block {
    display: inline-block;
    color: #42464d;
}

#new-section-eight .inline-block hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border:0;
    border-top:1px solid #42464d;
}

#new-section-eight .follow {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.42;
    text-align: left;
}
#new-section-eight .follow-message{
    font-size: 13px;
    font-weight: normal;
}

#new-section-eight .inline-block button{
    width: 172px;
    height: 50px;
    background-color: #0087ce;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    border-radius: 0;
}

hr.footer{
    margin:0;
    opacity: 0.54;
    color: #ffffff;
}

#contact{
    background:#424242;
    color:#ffffff;
    font-size: 12px;
    padding: 20px 0;
}
/*new-section-nine*/
#new-section-nine{
    background:#424242;
    color:#ffffff;
    padding: 20px 0;
    overflow: auto;

}
#new-section-nine>.address-info,#new-section-nine>.invest-form{
    width: 50%;
    float:left;
}
#new-section-nine>.address-info{
    padding: 0 3% 0 15%;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.2;
}
#new-section-nine>.address-info>.telphone{
    margin-bottom: 10px;
}
#new-section-nine>.invest-form{
    padding: 0 0 0 3%;
}

#new-section-nine label{
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
}

#new-section-nine input{
    width: 352px;
    height: 40px;
    background-color: #2f2f2f;
    margin-top:20px;
    padding-left:10px;
    border:none;
}

#new-section-nine textarea{
    width: 352px;
    height: 127px;
    background-color: #2f2f2f;
    margin-top:20px;
    padding:10px;
    border:none;
}
#new-section-nine .textarea-label{
    vertical-align: top;
    margin-top: 30px;
}

#new-section-nine button{
    margin-top:10px;
    margin-left: 276px;
    width: 120px;
    height: 35px;
    background-color: #0087ce;
    border:none;
}
#new-section-nine .map{
    position: relative;
    margin-bottom: 30px;
    margin-top:30px
}
#new-section-nine .map > img.base-map{
    width: 347px;
}

@media screen and (max-width: 992px) {
    #new-section-nine>.address-info {
        padding: 0 3%;
    }
    #new-section-nine label{
        display: none;
    }
    #new-section-nine button{
        margin-top:10px;
        margin-left: 232px;
        width: 120px;
        height: 35px;
        background-color: lightgray;
        border:none;
    }
}
